.next
.yarn
node_modules
commitlint.config.js
postcss.config.js

packages/web/src/gql/generated
packages/e2e-api/gql/**
packages/api/codegen.ts
packages/cms/.strapi

**/next-env.d.ts

build
dist
.cache
.tmp
src/admin
**/*.test.*
storybook-static
src/plugins/**
scripts/**
**/coverage/**
